<%- include ('../partials/head') %> <%- include ('../partials/menu') %>
<div class="col"><%- include ('../partials/message') %></div>

<main>
  <%- include ('../partials/user_input/input_textbox.ejs') %>
</main>

<%- include ('../partials/footer') %>