<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            
        }

        th,
        td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .header {
            background-color: gray;
        }
    </style>


</head>


<body>
    <%
    var thing = "word";
    thing = locals.users[0].avgGuess;
    %>
    <h1>
        <%- thing %>
    </h1>

    <div class="container">
            <div class="btn-group">
                <a href="#" class="btn btn-primary active" aria-current="page">Global</a>
                <a href="#" class="btn btn-primary">Friends</a>
            </div>
        <br>
        <br>

        <table style="width:70%">
            <tr class="header">
                <th>rank</th>
                <th>Username</th>
                <th>Streak</th>
                <th>Avg Guesses</th>
            </tr>

            <!-- SAMPLE ROW
            <tr>
                <td>
                    <h5>1</h5>
                </td>
                <td>
                    <table>
                        <td style="width:10%"><img
                                src="https://static.vecteezy.com/system/resources/previews/009/314/440/original/earth-globe-clip-art-vector-illustration-isolated-free-png.png"
                                width="30"></td>
                        <td>
                            <h5>coolkid68</h5>
                        </td>
                    </table>
                </td>


                <td>102</td>
                <td>3.7</td>
            </tr>
              -->
            <%
            var tableData = '';
            var i = 0;
            locals.users.forEach(function(item){
                i = i + 1;
                tableData = tableData + '<tr><td><h5>' + i + '</h5></td><td><table><td style="width:10%"><img src="https://static.vecteezy.com/system/resources/previews/009/314/440/original/earth-globe-clip-art-vector-illustration-isolated-free-png.png" width="30"></td><td><h5>' + 
                item.username + '</h5></td></table></td><td>' + item.streak + '</td><td>' + item.avgguess + '</td></tr>';
            })
            %>
            <%- tableData %>
        </table>
    </div>

    <%- include ('../partials/footer') %>
