<%- include ('../partials/head') %>
    <%- include ('../partials/menu') %>

        <style>
            table {
                border-collapse: collapse;
                width: 100%;
                border-bottom: 1px solid black"

            }

            th,
            td {
                text-align: left;
                padding: 8px;
            }

            .center {
                margin-left: auto;
                margin-right: auto;
            }
        </style>
        <table style="width: 90%" class="center">
            <tr>
                <td style="width: 15%">
                    <!-- Left side-->
                    <div style="text-align: center; background-color: lightgray; width: 110px; height: 110px; margin-left: auto; margin-right: auto;" class="rounded-circle" vertical-align: middle>
                        <span style="display: inline-block; height: 100%; vertical-align: middle; "></span>
                        <img src="img/pfp<%- locals.user[0].pfp %>.png" width="100" height="100">
                        <span style="display: inline-block; height: 100%; vertical-align: middle; "></span>

                    </div>
                    <br>
                    <h2 style="text-align: center;"><%- locals.user[0].username %></h2>
                    <!-- Button trigger modal -->
                    <div style="text-align: center;">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            Edit Profile
                        </button>

                <td style="border-bottom:1px solid black">
                    <!-- Right side-->
                    <table>
                        <tr><br><br></tr>
                        <tr>
                            <td colspan="2" style="text-align: center;">
                                <h1 style="display: inline;">#38</h1>
                                <h3 style="display: inline;"> Global</h3>
                            </td>
                            <td colspan="2" style="text-align: center;">
                                <h1 style="display: inline;">6</h1>
                                <h3 style="display: inline;"> Puzzles Solved</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            <h2 style="text-align: center;">Total wins:</h2>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4 style="text-align: center;">12</h4>
                                        </td>
                                    </tr>
                                </table>

                            </td>
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            <h2 style="text-align: center;">Current streak:</h2>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4 style="text-align: center;"><%- locals.user[0].streak %></h4>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            <h2 style="text-align: center;">Longest streak:</h2>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4 style="text-align: center;">6</h4>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            <h2 style="text-align: center;">Average guesses:</h2>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4 style="text-align: center;"><%- locals.user[0].avgguess %></h4>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <!-- Win rate bar -->
                        <tr>
                            <td></td>
                            <td colspan="2">
                                <h3 style="text-align: center;">Win rate: 25%</h3>
                                <h5 style="text-align: center;">Out of <%- locals.user[0].totalgames %> total games</h5>
                                <div class="progress">
                                    <div class="progress-bar bg-success" style="width: 25%"></div>
                                    <div class="progress-bar bg-danger" style="width: 75%"></div>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <h6><%- locals.user[0].totalgames %> Wins</h6>
                            </td>
                            <td>
                                <h6 style="text-align: right;"><%- locals.user[0].totalgames %> Losses</h6>
                            </td>
                            <td></td>
                        </tr>

                        <td>
                            <br><br>
                        </td>
                    </table>
                </td>
            </tr>
        </table>
        <%- include ('../partials/footer') %>