<%- include ('../partials/head') %>
    <%- include ('../partials/menu') %>
        <%- include ('../partials/message') %>

            <!--Guesses Data should be a JSON array-->

            <!--Cities json, had to hardcode here cause couldn't figure out loading from a .json-->
            <% var cities=13; var guesses=0; %>
                <style>
                    #winmessage {
                        text-align: center;
                    }
                    .modal-backdrop {
                    z-index: -1;
                    }
                </style>


                <script>
                    //get all cities and data in a list
                    const weatherData = [
         <% for (let i = 0; i < cities; i++) { %>
                        [
                            "<%- locals.weather[i].location %>", 
                <%- locals.weather[i].summer_high %> , 
                <%- locals.weather[i].summer_low %> ,
                <%- locals.weather[i].summer_longest_day %> ,
                <%- locals.weather[i].winter_high %> ,
                <%- locals.weather[i].winter_low %> ,
                <%- locals.weather[i].winter_longest_day %> 
         ],
        <% } %>
                        []
        ];

                    //get the answer's data
                    const answerData = [
                        "<%- locals.answer.location %>", 
                <%- locals.answer.summer_high %> , 
                <%- locals.answer.summer_low %> ,
                <%- locals.answer.summer_longest_day %>,
                <%- locals.answer.winter_high %> ,
                <%- locals.answer.winter_low %> ,
                <%- locals.answer.winter_longest_day %>
            ]

                    var isWinner = 0;
                    var value = 0;
                    var guesses = 0;
                    function answer() {
                        document.getElementById(`option${value}`).disabled = true;
                        //iterate through each element and compare to answer
                        for (let i = 0; i < 7; i++) {
                            console.log(value);
                            document.getElementById(`answer${i},${guesses}`).innerHTML = weatherData[value][i];
                            if (weatherData[value][i] > answerData[i]) {
                                document.getElementById(`arrow${i},${guesses}`).innerHTML = "↓";
                            } else {
                                if (weatherData[value][i] != answerData[i]) {
                                    document.getElementById(`arrow${i},${guesses}`).innerHTML = "↑";
                                }
                            }
                            if (weatherData[value][0] == (answerData[0])) {
                                document.getElementById(`box${i},${guesses}`).setAttribute("class", "guess-square bg-success");
                            } else
                                if (i != 0 && (weatherData[value][i] - answerData[i] <= 10 && weatherData[value][i] - answerData[i] >= -10)) {
                                    document.getElementById(`box${i},${guesses}`).setAttribute("class", "guess-square grey-border-bottom bg-warning");
                                }
                        }
                        guesses = guesses + 1;
                        document.getElementById('guess').innerHTML = "Guess " + guesses + "/6";
                        if (weatherData[value][0] == (answerData[0])) {
                            const selector = document.getElementById(`selector`)
                            selector.remove();
                            var messageElement = document.createElement('h1');
                            const divElement = document.getElementById('winmessage');
                            divElement.append(messageElement);
                            document.getElementById("guessCountMessage").innerHTML = "In only "+guesses+" guesses"
                            isWinner = 1;
                            openModal();
                        }
                        if(guesses >= 6 && !(weatherData[value][0] == (answerData[0]))){
                            const selector = document.getElementById(`selector`)
                            selector.remove();
                            var messageElement = document.createElement('h1');
                            const divElement = document.getElementById('winmessage');
                            divElement.append(messageElement);
                            document.getElementById("guessCountMessage").innerHTML = "In only "+guesses+" guesses"
                            isWinner = 0;
                            document.getElementById('winModalMessage').innerHTML = "You Lose!";
                            openModal();
                        }
                    }
                    //get the city thats selected
                    function getComboA(selectObject) {
                        value = selectObject.value;
                        console.log(value);

                    }
                    function openModal(){
                        document.getElementById("myModal").style.display = "block";
                    }

                    function completeGame(){
                        console.log("ok");

                    fetch('/complete', {
                        method: 'POST',
                        headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    },
                        body: JSON.stringify({score: guesses,
                        win: isWinner})

                        
                    })
                    .then(res => res.json())
                    .then(data => {
                    if (data.success) {
                        window.location.href = '/profile ';
                        console.log("COOL");
                    }
                    });
                }
                </script>
                
                <div id="myModal" class="modal">
              <div class="modal-content">
                <h1 id="winModalMessage">You Win!</h1>
                <h4 id = "guessCountMessage">In only x guesses</h4>

                <div class="modal-buttons">
                  <button type="submit" class="btn btn-default btn-primary" onclick="completeGame()">Continue</button>
                  </div>
              </div>
            </div>

                <div id="winmessage" style="margin-left: auto; margin-right: auto;"></div>
                <div class="container text-center align-items-center w-25" name="guesser" id="selector">
                    <div class="row mb-3">
                        <label for="city">City</label>
                        <select id="city" name="city" onchange="getComboA(this)">
                            <% for(var i=0; i < cities; i++) { %>
                                <option value="<%- i %>" id="option<%- i %>"><%-locals.weather[i].location %></option>
                                <% } %>
                        </select>
                    </div>
                    <div class="row mb-3">
                        
                        <input type="submit" value="Submit" onclick="answer()">
                    </div>
                </div>
                <div class="container" name="table">
                    <p id="guess">Guess 0/6</p>
                    <table class="table" style="width:70%; margin-left: auto; margin-right: auto;">
                        <thead>
                            <tr>
                                <th scope="col" class="guess-header">City Name</th>
                                <th scope="col" class="guess-header">Summer Hi</th>
                                <th scope="col" class="guess-header">Summer Lo</th>
                                <th scope="col" class="guess-header">Longest Day</th>
                                <th scope="col" class="guess-header">Winter Hi</th>
                                <th scope="col" class="guess-header">Winter Lo</th>
                                <th scope="col" class="guess-header">Shortest Day</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% var boxes="" ; for(let i=0; i<6; i++){ boxes="<tr>" + boxes; for(let j=0; j<7; j++){
                                boxes=boxes + `<td class="guess-square" id="box`+j+`,`+i+`">
                                <div class="top-box">
                                    <div id="answer`+j+`,`+i+`"> </div>
                                    <div class="arrow" id="arrow`+j+`,`+i+`"> </div>
                                </div>
                                </td>`;
                                }
                                boxes = boxes + "</tr>"
                                }
                                %>
                                <%- boxes %>
                        </tbody>
                    </table>
                </div>
                
                <%- include ('../partials/footer') %>