<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/message') %>

<!--Guesses Data should be a JSON array-->
<%
%>
<!--Cities json, had to hardcode here cause couldn't figure out loading from a .json-->
<%
var city_names = {
	cities: [
	'Denver, Colorado',
	'Austin, Texas',
	'San Fransisco, California',
	'Los Angeles, California',
	'New York City, New York',
	'Miami, Florida',
	'Chicago, Illinois',
	'Boston, Massachusetts',
	'Atlanta, Georgia',
	'Phoenix, Arizona'
	]
}
%>
<div class="container text-center align-items-center w-25" name="guesser">
	<form class="mb-3" action="/weatherdle" method="post">
		<div class="row mb-3">
			<label for="city">City</label>
			<select id="city" name="city">
				<% for(var i = 0; i < city_names.cities.length; i++) { %>
					<option value="<%-city_names.cities[i]%>"><%-city_names.cities[i]%></option>
				<% } %>
			</select>
		</div>
		<div class="row mb-3">
			<input type="submit" value="Submit">
		</div>
	</form>
</div>
<div class="container" name="table">
    <% if(locals.username) {%>
        <p>hello <%- locals.username %></p>
    <% } %>
	<p>Guess <%- locals.guesses.length%>/8</p>
	<table class="table">
		<thead>
			<tr>
				<th scope="col" class="guess-header">City Name</th>
				<th scope="col" class="guess-header">Summer Hi</th>
				<th scope="col" class="guess-header">Summer Lo</th>
				<th scope="col" class="guess-header">Longest Day</th>
				<th scope="col" class="guess-header">Winter Hi</th>
				<th scope="col" class="guess-header">Winter Lo</th>
				<th scope="col" class="guess-header">Shortest Day</th>
			</tr>
		</thead>
		<tbody>
            <% for(var i = 0; i < locals.guesses.length; i++) { %>
                <%if(locals.guesses[i].correct_guess) { %>
                    <tr class="bg-success">
                <%} else {%>
                    <tr>
                <% } %>
                    <!-- -->
                    <th scope="row" class="guess-header"><%- locals.guesses[i].city_name%></th>
                    <%if(locals.guesses[i].summer_hi.close == true) { %>
                        <td class="guess-square grey-border-bottom bg-warning">
                    <% } else { %>
                        <td class="guess-square grey-border-bottom">
                    <% } %>
                            <div class="top-box">
                                <div><%- locals.guesses[i].summer_hi.value%></div>
                                <% if(locals.guesses[i].summer_hi.correct == false) { %>
                                    <% if(locals.guesses[i].summer_hi.higher) { %>
                                        <div class="arrow">↑</div>
                                    <% } else { %>
                                        <div class="arrow">↓</div>
                                    <% } %>
                                <% } %>
                            </div>
                        </td>
                    <%if(locals.guesses[i].summer_lo.close == true) { %>
                        <td class="guess-square grey-border-bottom bg-warning">
                    <% } else { %>
                        <td class="guess-square grey-border-bottom ">
                    <% } %>
                            <div class="top-box">
                                <div><%- locals.guesses[i].summer_lo.value%></div>
                                <% if(locals.guesses[i].summer_lo.correct == false) { %>
                                    <% if(locals.guesses[i].summer_lo.higher) { %>
                                        <div class="arrow">↑</div>
                                    <% } else { %>
                                        <div class="arrow">↓</div>
                                    <% } %>
                                <% } %>
                            </div>
                        </td>
                    <%if(locals.guesses[i].longest_day.close == true) { %>
                        <td class="guess-square grey-border-bottom bg-warning">
                    <% } else { %>
                        <td class="guess-square grey-border-bottom ">
                    <% } %>
                            <div class="top-box">
                                <div><%- locals.guesses[i].longest_day.value%></div>
                                <% if(locals.guesses[i].longest_day.correct == false) { %>
                                    <% if(locals.guesses[i].longest_day.higher) { %>
                                        <div class="arrow">↑</div>
                                    <% } else { %>
                                        <div class="arrow">↓</div>
                                    <% } %>
                                <% } %>
                            </div>
                        </td>
                    <%if(locals.guesses[i].winter_hi.close == true) { %>
                        <td class="guess-square grey-border-bottom bg-warning">
                    <% } else { %>
                        <td class="guess-square grey-border-bottom ">
                    <% } %>
                            <div class="top-box">
                                <div><%- locals.guesses[i].winter_hi.value%></div>
                                <% if(locals.guesses[i].winter_hi.correct == false) { %>
                                    <% if(locals.guesses[i].winter_hi.higher) { %>
                                        <div class="arrow">↑</div>
                                    <% } else { %>
                                        <div class="arrow">↓</div>
                                    <% } %>
                                <% } %>
                            </div>
                        </td>
                    <%if(locals.guesses[i].winter_lo.close == true) { %>
                        <td class="guess-square grey-border-bottom bg-warning">
                    <% } else { %>
                        <td class="guess-square grey-border-bottom ">
                    <% } %>
                            <div class="top-box">
                                <div><%- locals.guesses[i].winter_lo.value%></div>
                                <% if(locals.guesses[i].winter_lo.correct == false) { %>
                                    <% if(locals.guesses[i].winter_lo.higher) { %>
                                        <div class="arrow">↑</div>
                                    <% } else { %>
                                        <div class="arrow">↓</div>
                                    <% } %>
                                <% } %>
                            </div>
                        </td>
                    <%if(locals.guesses[i].shortest_day.close == true) { %>
                        <td class="guess-square grey-border-bottom bg-warning">
                    <% } else { %>
                        <td class="guess-square grey-border-bottom ">
                    <% } %>
                            <div class="top-box">
                                <div><%- locals.guesses[i].shortest_day.value%></div>
                                <% if(locals.guesses[i].shortest_day.correct == false) { %>
                                    <% if(locals.guesses[i].shortest_day.higher) { %>
                                        <div class="arrow">↑</div>
                                    <% } else { %>
                                        <div class="arrow">↓</div>
                                    <% } %>
                                <% } %>
                            </div>
                        </td>
                </tr>
            <%} %>
		</tbody>
	</table>
</div>

<%- include ('../partials/footer') %>
